
    .bordertest
	{
	    width: 350px;
	    color:white;
	}

	.colorwhite
	{
	   color:white;

	}

	.textarea
	{
	   width: 400px;
	   height: 40px;

	}

	.tabletest
	{
		border-style: solid;
	}

	form{
		margin: 0 auto;
		text-align: center;
	}

	div.centerTable{
        text-align: center;
	}
 
	div.centerTable table {
       margin: 0 auto;
       text-align: left;
	}



